// Place all the styles related to the products controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/



.product-list-style {
    margin: 3em auto 2em;
}


.text-center {
    text-align: center;
}

.col-xs-1, .col-sm-1, .col-md-1, .col-lg-1, .col-xs-2, .col-sm-2, .col-md-2, .col-lg-2, .col-xs-3, .col-sm-3, .col-md-3, .col-lg-3, .col-xs-4, .col-sm-4, .col-md-4, .col-lg-4, .col-xs-5, .col-sm-5, .col-md-5, .col-lg-5, .col-xs-6, .col-sm-6, .col-md-6, .col-lg-6, .col-xs-7, .col-sm-7, .col-md-7, .col-lg-7, .col-xs-8, .col-sm-8, .col-md-8, .col-lg-8, .col-xs-9, .col-sm-9, .col-md-9, .col-lg-9, .col-xs-10, .col-sm-10, .col-md-10, .col-lg-10, .col-xs-11, .col-sm-11, .col-md-11, .col-lg-11, .col-xs-12, .col-sm-12, .col-md-12, .col-lg-12 {
    float: left;
    position: relative;
    min-height: 1px;
    padding-left: 15px;
    padding-right: 15px;
}




// 数量输入框
.section .quantity-input {
  color: #333;
  text-align: center;
  width: 100px;
  font-weight: bold;
  border-radius: 3px;
  border: 1px solid #FFF;
}


//product show
ul > li{margin-right:25px;font-weight:lighter;cursor:pointer}
li.active{border-bottom:3px solid silver;}

.item-photo{display:flex;justify-content:center;align-items:center;border-right:1px solid #f6f6f6;}
.menu-items{list-style-type:none;font-size:11px;display:inline-flex;margin-bottom:0px;margin-top:20px}
#cart-btn{width:100%;border-radius:0px;}
.section{width:100%;margin-left:-15px;padding:2px;padding-left:15px;padding-right:15px;background:#f8f9f9}
.title-price{margin-top:30px;margin-bottom:0px;color:black}
.title-attr{margin-top:0px;margin-bottom:0px;color:black;}
div.section > div {width:100%;display:inline-flex;}
.attr,.attr2{cursor:pointer;margin-right:5px;height:20px;font-size:10px;padding:2px;border:1px solid gray;border-radius:2px;}
.attr.active,.attr2.active{ border:1px solid orange;}

//book title in product show
h3.book-title {
  margin-top: 5px;
    font-weight: 700;
    font-size: 25px;
    line-height: 30px;

}

h4.book-author a {
  font-weight: 500;
  font-size: 18px;
  color: #2C7B74;
}


@media (max-width: 426px) {
    .container {margin-top:0px !important;}
    .container > .row{padding:0px !important;}
    .container > .row > .col-xs-12.col-sm-5{
        padding-right:0px ;
    }
    .container > .row > .col-xs-12.col-sm-9 > div > p{
        padding-left:0px !important;
        padding-right:0px !important;
    }
    .container > .row > .col-xs-12.col-sm-9 > div > ul{
        padding-left:10px !important;

    }
    .section{width:104%;}
    .menu-items{padding-left:0px;}
}

//wish-list
  .wish-list {
    margin-left: auto;
    margin-right: auto;
    margin-top: -20px;
    width: 200px;
    border: 1px solid #35938B;
    height: 45px;
    padding-left: 22px;
  }

//heart
#fav-heart, #unfav-heart, #unfav-heart1 {
  color: #cd4343;
  font-size:20px;
  margin-top: 10px;
  margin-right:5px;
  float: left;
}

.favourite {
  height: 20px;
  line-height: 20px;
  float: left;
  margin-top: 10px;
  font-weight: solid;
}

.unfavourite {
  height: 20px;
  line-height: 20px;
  float: left;
}


//products-list
.products-list h4.product-title {
  font-family: 'Josefin Sans', sans-serif;
  font-weight: 400;
  font-size: 12px;
  margin: 0 auto;
  width: 120px;
  height: 40px;
  line-height: 40px;
  text-align: center;
  overflow: hidden;
  display: block;
  text-overflow : ellipsis;
}
.all-product-box {
    width: 1200px;
    margin: 0 auto;
    overflow: hidden;
}

a.viewspan1 {
  font-size: 16px;
  font-weight: 700;
  margin: 0px 70px 10px 0px;
}

a.viewspan {
  font-size: 16px;
  font-weight: 700;
}

div.RecBooks {
  width: 1200px;height: 300px;overflow: auto;white-space: nowrap;
}

div.book-item {
  display: inline-block;
}
