// Place all the styles related to the welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.hp-layout-width {
    width: 974px;
    height: 1400px;
    margin: 0 auto;
    overflow: auto;
}

// * {
//     -moz-box-sizing: border-box;
//     -webkit-box-sizing: border-box;
//     -ms-box-sizing: border-box;
//     -o-box-sizing: border-box;
//     box-sizing: border-box;
//     font-family: Lato,Arial,sans-serif;
//     font-weight: 400;
//     text-decoration: none;
// }
//
// div {
//     display: block;
// }
//
//
// .hp-categories h2 {
//     color: #000;
//     font-family: Poynter,serif;
//     font-size: 27px;
//     font-weight: 400;
//     margin: 42px 0 15px;
//     text-align: center;
// }
//
// .hp-category-group-2col {
//     float: left;
//     width: 644px;
// }
// .hp-category-group-1col {
//     float: left;
//     width: 322px
// }
//
// .hp-cat-w624 {
//     width: 624px;
//     height: 302px;
// }
// .hp-cat-t624 {
//     width: 624px;
//     height: 302px;
// }
//
// .hp-category a {
//     position: relative;
// }
//
// .hp-category a, .hp-category img {
//     height: 100%;
//     width: 100%;
//     float: left;
// }
//
//
//
// .hp-category {
//     float: left;
//     width: 302px;
//
//     margin: 10px;
// }

//分类名字——字体
.hp-category-name,.hp-category-promo-name {
    line-height: 1.125;
    font-weight: 400;
    font-family: Poynter,serif
}

.hp-category-group-2col {
    float: left;
    width: 644px
}

.hp-category-group-1col {
    float: left;
    width: 322px
}

.hp-category {
    float: left;
    width: 302px;
    height: 302px;
    margin: 10px
}

.hp-cat-w624 {
    width: 624px;
    height: 302px;
}


.hp-category a,.hp-category img {
    height: 100%;
    width: 100%;
    float: left
}

//改后，分类图片与名字位置 发生偏差
.hp-category a {
    position: relative
}

// .hp-category a::before {
//     content: "";
//     position: absolute;
//     top: 0;
//     bottom: 0;
//     left: 0;
//     right: 0;
//     border: 1px solid transparent
// }

//category图片鼠标hover时出现边框
.hp-category a:focus::before,.hp-category a:hover::before {
    border-color: #6b6b6b
}

//消除排名处hover黑色**********属于类<div class="hp-category hp-cat-t624 hp-ordinal">，只取了中间命名。
.hp-cat-t624 a:hover::before{
  background-color: #f3f2ed;
  border-color: #f3f2ed; //消除黑色边框；
}


.hp-category-name {
    position: absolute;
    width: 100%;
    font-size: 25px;
    color: #000;
    padding: 20px;
    text-align: center
}

.hp-category-name.left {
    text-align: left
}

.hp-category-promo {
    display: table;
    float: left;
    width: 302px;
    height: 302px;
    padding: 0;
    margin: 10px;
    background-color: #e6ecee
}

.hp-category-promo.bnreads {
    background-image: url(//dispatch.barnesandnoble.com/content/dam/ccr/homepage/daily/2016/09/14/6_CategoryPod_BNReads_9-14.jpg)
}

.hp-category-promo a {
    display: table-cell;
    width: 302px;
    height: 302px;
    vertical-align: middle;
    text-align: center;
    outline: #fff solid 1px;
    outline-offset: -12px;
    color: #fff
}

.hp-category-promo a:focus,.hp-category-promo a:hover {
    text-decoration: none;
    border: 1px solid #000
}

.hp-category-promo-name {
    font-size: 40px;
    margin: 0 0 6px
}

.bargain .hp-category-promo-name:before {
    content: " ";
    display: block;
    background: url(//dispatch.barnesandnoble.com/content/dam/ccr/design/sprites/sprite_mobile_nav-footer.png) -35px -34px no-repeat;
    color: transparent;
    height: 34px;
    width: 34px;
    margin: 0 auto 14px
}

// .hp-category-promo-copy {
//     font-size: 14px;
//     line-height: 1.4;
//     letter-spacing: .3px;
//     margin: 0 0 15px
// }

// .hp-category-promo .hp1600-cta {
//     color: #fff;
//     border: 1px solid #fff
// }

// .hp-category-promo a:focus .hp1600-cta,.hp-category-promo a:hover .hp1600-cta {
//     background-color: #fff;
//     color: #000;
//     border-color: #000
// }

.hp-categories h2 {
    color: #000;
    font-family: Poynter,serif;
    font-size: 27px;
    font-weight: 400;
    margin: 42px 0 15px;
    text-align: center
}
/*-------------排序部分css   ----------------------------------------------------*/
.hp-category.hp-ordinal {
    border: 1px solid transparent;
    background-color: #f3f2ed;
    overflow: hidden;
    position: relative;
}
//高624的排序栏位
.hp-cat-t624 {
    width: 302px;
    height: 624px
}

.hp-ordinal-hdr {
    font-family: Poynter,serif;
    font-weight: 400;
    font-size: 25px;
    line-height: 1.5;
    color: #000;
    padding: 20px 0 15px;
    text-align: center;
}

//top100的after
.hp-ordinal-hdr:after {
    content: "";
    display: block;
    width: 20px;
    border-bottom: 3px solid #10304e;
    margin: 30px auto 0;
}

.hp-ordinal ol {
    margin: 0 0 35px;
    padding: 0;
}

ol {
    display: block;
    list-style-type: decimal;
    -webkit-margin-before: 1em;
    -webkit-margin-after: 1em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    -webkit-padding-start: 40px;
}

.hp-ordinal li {
    clear: left;
    list-style: none;
    padding: 12px 30px 0;
    line-height: 1.2;
    overflow: hidden;
}
li {
    display: list-item;
    text-align: -webkit-match-parent;
}

//1234序号
.hp-ordinal span {
    -webkit-transform: translate3d(0,0,0);
    transition: all .2s ease-in-out;
}
.hp-ordinal-position {
    font-size: 60px;
    line-height: 1.1;
    color: #a6a08e;
    display: block;
    margin: 0 25px 0 0;
    float: left;
    width: 30px;
}


.hp-ordinal-default-message, .hp-ordinal-position {
    font-family: Poynter,serif;
    font-weight: 60;
    text-align: center;
}

//序号右边书名
.hp-ordinal-title {
    margin-top: 6px;
}

.hp-ordinal-author, .hp-ordinal-title {
    font-family: Lato,Arial,sans-serif;
    font-size: 15px;
    font-weight: 400;
    color: #000;
    text-decoration: none;
    display: block;
}
//作者
.hp-ordinal-author {
    font-size: 12px;
}

// .text-link, .text-link:focus, a {
//     color: #346250;
// }

.hp-category a::before {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    border: 1px solid transparent;
}

a:after {
    display: inline-block;
    text-decoration: none;
}
