<!-- <footer class="container" style="margin-top: 100px;">
  <p class="text-center">Copyright ©2017 JDStore
    <br>Design by Chensong & justineyeah
  </p>
</footer> -->

<!-- footer -->
<footer class="footer-style container-fluid">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-sm-8 col-md-8 Footer">
        <div class="col-xs-4 Footer-links">

          <div class="Footer-linksSection">
            <h5>Popular Categories</h5>
            <ul>
              <li>
                <a href="#">Kids</a>
              </li>
              <li>
                <a href="#">Teens</a>
              </li>
              <li>
                <a href="#">Self-Help</a>
              </li>
              <li>
                <a href="#">Literature &amp; Fiction</a>
              </li>
              <li>
                <a href="#">Mystery &amp; Thriller</a>
              </li>
              <li>
                <a href="#">Sci-fi &amp; Fantasy</a>
              </li>
              <li>
                <a href="#">Romance</a>
              </li>
            </ul>
          </div>
        </div>

        <div class="col-xs-4 Footer-links">
          <div class="Footer-linksSection">
            <div class="Footer-linksHalf">
              <h5>My Account</h5>
              <ul>
                <li>
                  <a href="/account/users/:id/edit">Account Settings</a>
                </li>
                <li>
                  <%= link_to("Shopping Cart", carts_path) %>
                </li>
                  <li>
                    <a href="/account/orders">Order History</a>
                  </li>
                <li>
                  <a href="/account/favorites">Wish List</a>
                </li>
              </ul>
            </div>

            <div class="Footer-linksHalf">
              <h5>Quick Help</h5>
              <ul>
                <li>
                  <a href="#">Help &amp; Support</a>
                </li>
                <li>
                  <a href="#">Billing</a>
                </li>
                <li>
                  <a href="#">Shipping free</a>
                </li>
                <li>
                  <a href="#">Return Policy</a>
                </li>
              </ul>
            </div>

          </div>
        </div>

        <div class="col-xs-4 Footer-links">
          <div class="Footer-linksSection">
            <div class="Footer-linksHalf">
              <h5>爱阅读小密圈</h5>
              <ul>
              <li><a href="#">加入圈子</a></li>
              </ul>
            </div>

            <div class="Footer-linksHalf">
              <h5>关于我们</h5>
              <ul>
                <li><a href="#">联系我们</a></li>
              </ul>
            </div>

          </div>
        </div>

      </div>

      <div class="col-xs-12 col-sm-4 col-md-4">
        <h3>原版英文图书</h3>
        <p class="footer-style-p">吸收英文世界精华的同时，英文水平迅速水涨船高。</p>
      </div>

    </div>
    <br>
    <hr>
    <div class="row">
      <p class="text-center">Copyright ©2017 Read In English
        <br>Design by chensong &amp; justineyeah
      </p>
    </div>
  </div>
</footer>
